<div style="margin-left: 20%">
    <form>
        <div>
            <input type="text" ng-model="name" placeholder="企业名称">
            <input type="text" ng-model="product" placeholder="主营产品名称">
            <input type="text" ng-model="address" placeholder="厂家地址">
            <input type="text" ng-model="Status" placeholder="企业状态">
            <button class="btn  btn-primary" ng-click="select()">查询</button>
        </div>
        <br>
        <div ng-include="'pager/pager.html'"></div>
        <br>
        <br>
        <div class="panel panel-default" style="width: 70%;">
            <div class="panel-heading"><h4>符合要求企业</h4></div>
            <table class="table" >
                <thead>
                <tr >
                    <th>企业ID</th>
                    <th>厂家名称</th>
                    <th>组织结构代码</th>
                    <th>厂家地址</th>
                    <th>主营业务</th>
                    <th>产品标准</th>
                    <th>法人</th>
                    <th>描述</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in rows">
                    <td >{{row.id}}</td>
                    <td >{{row.mc}}</td>
                    <td >{{row.zzjgdm}}</td>
                    <td >{{row.address}}</td>
                    <td >{{row.business}}</td>
                    <td >{{row.biaozhun}}</td>
                    <td >{{row.faren}}</td>
                    <td >{{row.miaoshu}}</td>
                    <td ><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" ng-click="relation(row.id)">建立关系</button></td>
                </tr>
                </tbody>
            </table>

            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                建立关系
                            </h4>
                        </div>
                        <div class="modal-body">
                            <table style="width: 80%;">
                                <div>
                                    本方企业ID：{{bfqyid}}
                                    对方企业ID：{{id}}
                                    关系类型：<select ng-model="RelationTypes">
                                    <option ng-repeat="relationType in RelationTypes" value={{relationType.type}}>
                                        {{relationType.type}}
                                    </option>
                                </select>
                                    本方所处位置:<select ng-model="bfposition">
                                    <option value="from" ng-selected="bfposition=='from'">From</option>
                                    <option value="to" ng-selected="bfposition=='to'">To</option>
                                </select>
                                    <input type="text" ng-model="dfbh" placeholder="分配给对方内部编号">
                                </div>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button class="btn  btn-primary" ng-click="build($event)">建立</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </div>
    </form>
</div>