<div style="margin-left: 20%">
    <div><h3>新增用户</h3></div>
    <hr>
    <form style="width: 30%">
        <div class="form-inline">姓名：<input type="text" class="form-control" ng-model="name" placeholder="请输入姓名"></div><br>
        <div class="form-inline">地址：<input type="text" class="form-control" ng-model="address" placeholder="请输入地址"></div><br>
        <div class="form-inline">电话：<input type="text" class="form-control" ng-model="phone" placeholder="请输入电话"></div><br>
        <div class="form-inline">邮箱：<input type="text" class="form-control" ng-model="email" placeholder="请输入邮箱"></div><br>
        <div class="form-inline">状态：<input type="text" class="form-control" ng-model="status" placeholder="请输入状态"></div><br>
        <button type="submit" class="btn  btn-primary" ng-click="add()">新增</button>
    </form>
</div>